/* Basic reset and consistent sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and HTML setup */
body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Softer background color */
    padding: 20px;
}

/* Headings */
h1 {
    color: #2c3e50; /* Darker shade for headings */
    text-align: center;
}

/* Main container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top: 50px; /* Space from the top */
}

/* Button container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Add margin to move buttons up */
}

/* Buttons */
.btn {
    width: 200px;
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

/* Styling for search bar and button */
.search-bar {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    align-items: stretch; /* Ensure both elements take full height of the container */
}

#zipcode-search {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

#search-button {
    padding: 0 16px; /* Only horizontal padding needed */
    border: 1px solid #ddd;
    background-color: #3498db;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

#search-button:hover {
    background-color: #2980b9;
}

/* Styling for dropdown items */
.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    z-index: 99;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.autocomplete-items div {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* Links */
a {
    text-decoration: none;
}
