<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crash Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="my-4">NYC Crash Analysis</h1>

        <!-- Search Form with Autocomplete and Submit Button -->
        <form id="search-form" class="search-bar" action="/search" method="get">
            <input type="text" id="zipcode-search" name="zipcode" placeholder="Search by Zip Code" autocomplete="off">
            <button id="search-button" type="submit" class="btn btn-primary">Search</button>
            <div id="autocomplete-list" class="autocomplete-items"></div>
        </form>

        <div class="button-container">
            <a href="{{ url_for('view_data', area='Citywide') }}" class="btn btn-primary">Citywide</a>
            <a href="{{ url_for('view_data', area='The Bronx') }}" class="btn btn-primary">The Bronx</a>
            <a href="{{ url_for('view_data', area='Manhattan') }}" class="btn btn-primary">Manhattan</a>
            <a href="{{ url_for('view_data', area='Queens') }}" class="btn btn-primary">Queens</a>
            <a href="{{ url_for('view_data', area='Brooklyn') }}" class="btn btn-primary">Brooklyn</a>
            <a href="{{ url_for('view_data', area='Staten Island') }}" class="btn btn-primary">Staten Island</a>
        </div>
    </div>

    <!-- JavaScript for Autocomplete and Submit Handling -->
    <script src="{{ url_for('static', filename='scripts/autocomplete.js') }}"></script>
</body>

</html>
