<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data for {{ area | capitalize }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">

</head>

<body>
    <h1>Accident Data for: {{ area }}</h1>

    <h2>Total Accidents: {{ total_accidents }}</h2>
    <h2>Average Accidents per Zip Code: {{ average_accidents_per_zip }}</h2>

    <div class="button-container">
        <a href="{{ url_for('index') }}" class="back-button">Back to Selection</a>
        <a href="{{ url_for('view_map', area=area) }}" class="right-button">View Heatmap</a>


    </div>

    <table border="1" class="accordion-table">


        <thead>
            <tr class="accordion-header">
                <th>Decile</th>
                <th>Total Accidents in Decile</th>
                <th>Percentage of Total Accidents</th>
                {% if area == 'Citywide' %}
                <th class="extra-col" style="display: none;" >&nbsp;</th>
                {% endif %}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for decile, group in decile_table.groupby('Decile', sort=False) | sort(attribute='Decile', reverse=True) %}
            <tr class="accordion-header">
                <td>{{ decile | int }}</td>
                <td>{{ group['Accident Count'].sum() | int }}</td>
                <td>{{ (group['Accident Count'].sum() / total_accidents * 100) | round(2) }}%</td>
                {% if area == 'Citywide' %}
                <td class="extra-col" style="display: none;" >&nbsp;</td>  <!-- Extra cell to match the child row columns -->
                {% endif %}
                <td>
                    <button id="button-content-{{ decile }}" class="expand-button" onclick="toggleAccordion('content-{{ decile }}')">Expand</button>
                </td>
            </tr>
        
            <tbody id="content-{{ decile }}" class="accordion-content">
                <tr class="accordion-content-header">
                    <th>Rank</th>
                    <th>Zip Code</th>
                    {% if area == 'Citywide' %}
                    <th>Borough</th>
                    {% endif %}
                    <th>Accident Count</th>
                    <th>Accident Likelihood</th>
                </tr>
                {% for index, row in group.iterrows() %}
                <tr class="accordion-content-row">
                    <td>{{ row['Rank'] | int}}</td>
                    <td>{{ row['Zip Code'] | int }}</td>
                    {% if area == 'Citywide' %}
                    <td>{{ row['Borough'] }}</td>
                    {% endif %}
                    <td>{{ row['Accident Count'] | int }}</td>
                    <td>{{ row['Accident Likelihood'] | float }}</td>
                </tr>
                {% endfor %}
                <tr class="accordion-end">
                    <td colspan="{{ 5 if area == 'Citywide' else 4 }}">End of Decile {{ decile }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </tbody>
    </table>

    <!-- Include the external JavaScript file -->
    <script src="{{ url_for('static', filename='scripts/accordion.js') }}"></script>

</body>

</html>