<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Accident Data for {{ filename }}</h1>

    <h2>Total Accidents: {{ total_accidents }}</h2>
    <h2>Average Accidents per Zip Code: {{ average_accidents_per_zip }}</h2>


    <table border="1">
        <thead>
            <tr>
                <th>
                    Decile
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Decile', order='asc') }}">&#9650;</a>
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Decile', order='desc') }}">&#9660;</a>
                </th>
                <th>
                    Zip Code
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Zip Code', order='asc') }}">&#9650;</a>
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Zip Code', order='desc') }}">&#9660;</a>
                </th>
                <th>
                    Accident Count
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Accident Count', order='asc') }}">&#9650;</a>
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Accident Count', order='desc') }}">&#9660;</a>
                </th>
                <th>
                    Average Persons Injured/Killed
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Average Persons Injured/Killed', order='asc') }}">&#9650;</a>
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Average Persons Injured/Killed', order='desc') }}">&#9660;</a>
                </th>
                <th>
                    Accident Likelihood Factor
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Accident Likelihood Factor', order='asc') }}">&#9650;</a>
                    <a class="sort-button" href="{{ url_for('view_file', filename=filename, sort_by='Accident Likelihood Factor', order='desc') }}">&#9660;</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in decile_table.itertuples() %}
            <tr>
                <td>{{ row.Decile }}</td>
                <td>{{ row._2 }}</td>  
                <td>{{ row._3 }}</td>  
                <td>{{ row._4 }}</td>  
                <td>{{ row._5 }}</td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('index') }}">Back to Uploads</a>
</body>
</html> 

